extends ../layout
block head
    link(rel='stylesheet', href='/index/css/user/reg.css')

block content
    .container
        form.form-horizontal(method='post', action='/index/user/login')
            .form-group
                label.col-sm-2.control-label 账号
                .col-sm-10
                    input.form-control(type='text', name='username', placeholder='请输入')
            .form-group
                label.col-sm-2.control-label 密码
                .col-sm-10
                    input.form-control(type='password', name='password', placeholder='请输入')
            button#btu.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                | 登录
            // Modal
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4#myModalLabel.modal-title 完善资料后可使用更多功能
                        .modal-body
                            | 平台功能介绍...巴拉巴拉...
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') 取消
                            button.btn.btn-primary(type='submit') 确定

block script